.about{
    width: 100%;
}

.loop_video_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);

}
.loop_video_about .video_about{
    height: 100%;
    opacity: .8;
}

.loop_video_about p{
    position: absolute;
    top: 50%;
    width: 500px;

    background-color: white;
    color: grey;

    padding: 30px;

    border-radius: 10px;

    text-align: center;
}

.about.hide{
    display: none;
}


@media (max-width: 1000px) {
    .loop_video_about{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 80px);
    
    }

    .loop_video_about .video_about{
        width: 100%;
        height: auto;
        opacity: .8;
    }

    .loop_video_about p{
        position: absolute;
        top: 30%;
        width: 300px;
    
        background-color: white;
        color: grey;
    
        padding: 30px;
    
        border-radius: 10px;
    
        text-align: center;

        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
}

/* .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    height: calc(100vh - 100px);

    color: rgb(70, 70, 70);
}

.about.hide{
    display: none;
}

.about img{
    width: 250px;
    position: absolute;
    top: 0;
}

.about .working{
    font-size: 50px;
    font-weight: 900;
}

.about .soon{
    font-size: 30px;
    letter-spacing: 10px;

    margin-left: 200px;
}

@media (max-width: 1000px) {

    .about{
        height: calc(100vh - 80px);
    }

    .about img{
        position: absolute;
        top: 60px;
        width: 200px;
    }
    
    .about .working{
        font-size: 25px;
        font-weight: 900;
    }
    
    .about .soon{
        font-size: 20px;
        letter-spacing: 10px;
        margin-left: 100px;
    }
} */