.ministries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    height: calc(100vh - 100px);

    color: rgb(70, 70, 70);
}

.ministries.hide{
    display: none;
}

.ministries img{
    position: absolute;
    top: 0px;
    width: 250px;
}

.ministries .working{
    font-size: 50px;
    font-weight: 900;
}

.ministries .soon{
    font-size: 30px;
    letter-spacing: 10px;

    margin-left: 200px;
}

@media (max-width: 1000px) {

    .ministries img{
        position: absolute;
        top: 0px;
        width: 200px;
    }
    
    .ministries .working{
        font-size: 25px;
        font-weight: 900;
    }
    
    .ministries .soon{
        font-size: 20px;
        letter-spacing: 10px;
        margin-left: 100px;
    }
}