
.modal_home{

    background-image: url('../img/ninhosGif.gif');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: top;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 450px;
    padding: 30px;
}
.modal_home .content_modal_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.modal_home .content_modal_home h3{
    color: var(--blue);

    font-weight: 800;
    font-size: 23px;
}

.modal_home .content_modal_home p{
    background-color: white;
}


.btns_home_modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btns_home_modal .btn_donation_modal{
    width: fit-content;
}

.btns_home_modal .btn_donation_modal a{
    width: 100%;

    padding: 10px;

    border-radius: 5px;

    background-color: var(--blue);

    color: white;

    text-decoration: none;
    outline: none;

    cursor: pointer;
}

.btns_home_modal .btn_close_modal_home{
    background-color: var(--red);

    color: white;
    font-weight: 700;

    border: none;
    border-radius: 5px;

    width: fit-content;

    padding: 10px 20px;

    cursor: pointer;
}

@media (max-width: 1000px) {



}