.donation_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 100px);

    color: rgb(70, 70, 70);
}

.donation_page .working{
    font-size: 50px;
    font-weight: 900;
}

.donation_page .soon{
    font-size: 30px;
    letter-spacing: 10px;

    margin-left: 200px;
}